@font-face {
	font-family: 'Maax';
	src: url('/assets/fonts/Maax-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maax';
	src: url('/assets/fonts/Maax-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Maax';
	src: url('/assets/fonts/Maax-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maax';
	src: url('/assets/fonts/Maax-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
